.card_user {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(54, 51, 51, 0.1);
}

.card_user .card-body {
    padding: 20px;
    height: auto;
}

.card_user .card-title {
    margin-bottom: 15px;
    font-size: 20px;
}

.card_user ul {
    list-style-type: none;
    padding: 0;
}

.card_user ul li {
    margin-bottom: 10px;
}

.container {
    padding: 20px;
}

.icon-color{
    color: rgba(0, 17, 255, 0.705);
}